@keyframes BtnToUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes RightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #777777;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  padding: 5rem;
  background-color: #f7f7f7;
}

.container {
  background-color: #f7f7f7;
}

.title-first {
  color: #f7f7f7;
}
.title-first__main {
  display: block;
  font-weight: 800;
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  animation-name: leftToRight;
  animation-duration: 1.7s;
  animation-delay: 1s;
  animation-timing-function: ease;
  backface-visibility: hidden;
}
.title-first__secondary {
  display: block;
  font-weight: 100;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: 0.5rem;
  animation-name: RightToLeft;
  animation-duration: 1.7s;
  animation-delay: 1s;
  animation-timing-function: ease;
  backface-visibility: hidden;
  margin-bottom: 6.5rem;
}

.title-secondary {
  font-size: 3.6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.4s;
  backface-visibility: hidden;
}
.title-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

.title-third {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  line-height: 140%;
  font-weight: 400;
}

.text-align-center {
  text-align: center;
}

.padding-bottom-10px {
  padding-bottom: 1rem;
}

.padding-bottom-30px {
  padding-bottom: 3rem;
}

.padding-bottom-80px {
  padding-bottom: 8rem;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #777777;
  padding: 1.5rem 4rem;
  background: white;
  border-radius: 5rem;
  transition: all 0.3s;
  position: relative;
  font-size: 2rem;
}
.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.5) scaleY(1.7);
}
.btn:active {
  transform: translateY(-2px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.btn::after {
  content: "";
  background: #f7f7f7;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn_animated {
  animation: BtnToUp 0.5s ease-out 0.7s;
  animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #777777;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  color: #BA8554;
  text-decoration: none;
  padding: 1rem;
  border-bottom: 1px solid #BA8554;
}
.btn-text:hover {
  background-color: #BA8554;
  color: #f7f7f7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  transform: translateY(-0.2);
}
.btn-text:active {
  transform: translateY(0);
}

.composition {
  max-width: 130rem;
  margin: 0 auto;
  position: relative;
}
.composition__photo {
  width: 55%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  position: absolute;
  z-index: 1;
  transition: all 0.3s;
  outline-offset: 1.5rem;
}
.composition__photo_n1 {
  top: 0;
  left: 0rem;
}
.composition__photo_n2 {
  top: 2rem;
  right: 0rem;
}
.composition__photo_n3 {
  top: 13rem;
  left: 10rem;
}
.composition__photo:hover {
  z-index: 2;
  transform: scale(1.1);
  outline: 1rem solid #BA8554;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.94);
}

.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url(../img/header-background.jpg) center/cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
.header__logo {
  position: absolute;
  left: 5rem;
  top: 5rem;
  height: 7rem;
  width: 5.6rem;
}
.header__box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.col-2-of-3 {
  width: calc(2 * (100% - 2 * 6rem) / 3 + 6rem);
}

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.col-2-of-4 {
  width: calc(2 * (100% - 3 * 6rem) / 4 + 6rem);
}

.col-3-of-4 {
  width: calc(3 * (100% - 3 * 6rem) / 4 + 2 * 6rem);
}

[class^=col] {
  float: left;
}
[class^=col]:not(:last-child) {
  margin-right: 6rem;
}

.section-about {
  padding-top: 8rem;
}/*# sourceMappingURL=style.css.map */