@mixin style-link($color)
        text-transform: uppercase
        text-decoration: none
        display: inline-block
        color: $color

//для float (grid)
@mixin clearfix()
        &::after
                content: ""
                display: table
                clear: both


@mixin blocks-centering($top)
        position: absolute
        top: $top
        left: 50%
        transform: translate(-50%, -50%)
        

@mixin respond($breakpoint)

    @if $breakpoint == phone 
        @media only screen and (max-width: 600px)
                @content

    @if $breakpoint == tab-port
        @media only screen and (max-width: 900px)
                @content
    
    @if $breakpoint == tab-land
        @media only screen and (max-width: 1240px)
                @content

    @if $breakpoint == big-screen
        @media only screen and (min-width: 1800px)
                @content
    







        // @if $breakpoint == phone
        //         @media screen and {max-width: 600px}
        //                 @content

        // @if $breakpoint == tab-port
        //         @media screen and {max-width: 900px}
        //                 @content

        // @if $breakpoint == tab-land
        //         @media screen and {max-width: 1240px}
        //                 @content

        // @if $breakpoint == big-screen
        //         @media screen and {min-width: 1800px}
        //                 @content
                 
                        
        // @media (min-width: 1800px)
        // //         font-size: 75%
        // // @media (max-width: 1200px)
        // //         font-size: 56.75%
        // // @media (max-width: 900%)
        // //         font-size: 50%
        // // @media (max-width: 600px)
        // //         font-size: 30%

                        
        
        
    