.card_toure
    height: 50rem
    perspective: 150rem
    -moz-perspective: 150rem
    background: $color-white
    position: relative
    &__side
        color: white
        transition: all .7s ease-out
        backface-visibility: hidden
        height: 50rem
        position: absolute
        left: 0
        top: 0
        width: 100%
        border-radius: .5rem
        box-shadow: $box-shadow
        overflow: hidden
        &_front
            background: $color-white
        &_back
            background: rgba($color-brown-dark, .8)
            transform: rotateY(180deg)

    &:hover &__side_front
        transform: rotateY(-180deg)
    &:hover &__side_back
        transform: rotateY(0deg)

    &__img
        height: 40%
        clip-path: polygon(0 0, 100% 0, 100% 97%, 0% 80%)
        background-blend-mode: hard-light
        &_1
            background: url(../img/card-1.jpg) center / cover no-repeat
        &_2 
            background: url(../img/card-2.jpg) center / cover no-repeat
        &_3
            background: url(../img/card-3.jpg) center / cover no-repeat
    &__title
        letter-spacing: .2rem
        text-align: right
        position: absolute
        top: 17rem
        right: 0rem
        &_span
            background: linear-gradient(70deg, $color-brown-light, $color-brown-dark)
            padding: 1rem 2rem 0.3rem 2rem
            font-weight: 200
            text-transform: uppercase
            font-size: 2.8rem
            &-1
            &-2
                padding-bottom: 1rem
                padding-top: 0rem
    &__list
        margin-top:5.5rem
        ul 
            li
                border-bottom: 1px solid $color-gray
                color: $color-gray
                font: $font-size-paragraph
                letter-spacing: .2rem
                display: inline-block
                &:not(:last-child)
                    margin-bottom: 2rem

    &__backContent
        @include blocks-centering(50%)
        &_text
            text-align: center
            color: $color-white
            margin-bottom: 8rem
            letter-spacing: .2rem
            text-transform: uppercase
            &-1
                font-weight: 300
                font-size: $font-size-paragraph
                
            &-2
                font-size: 6rem
                font-weight: 500
                    